<!DOCTYPE html>
<head>
<title> project3</title>
</head>


<body>


 {% if filename %}   
    <div style= "display: inline-block">
    <p>Original Image:</p>
    <img src="{{ url_for('static', filename='images/' + filename) }}" style="width:400px">
    </div>
{% endif %} 

{% if restored_img_url %}
    <div style="display: inline-block">
    <p>Restored images</p>
    <a href="{{ restored_img_url }}" target="_blank"><img src="{{ restored_img_url }}" style= "width:400px"> 
    </a>
    </div>
{% endif %}
    

    <form method= "post" action="/" enctype="multipart/form-data">
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>

        <p>
            <input type="submit" value="submit">
        </p>
    </div>
</form>


</body>










</html>
